.resolveButton {
	color: #d8315b;
}
.radio {
	color: #d8315b;
}
.adminCreateForm {
	color: #d8315b;
}
.adminCreateForm2 {
	color: #d8315b;
}
.adminDeleteUserForm {
	color: #d8315b;
}
.adminDeletePageForm {
	color: #d8315b;
}
#adminCreateMessage {
	color: #d8315b;
}
#adminDeleteMessage {
	color: #d8315b;
}
#adminDeleteUserMessage {
	color: #d8315b;
}
#editingMedia > div > div > label {
	color: #d8315b;
}
#adminEditGetId {
	color: #d8315b;
}
textarea {
	resize: none;
	color: #d8315b;
	float:right;
}
#mediaCast {
	float:right;
	width: 78%;
}
#mediaCast > li > input{
	width:75%;
	color: #d8315b;
}
#tvSeasons {
	float:right;
	width: 75%;
}
#tvSeasons > li > div > input {
	color:#d8315b;
}
#tvEpisodes {
	float:right;
}