.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #fffaff;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
}

.close {
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #d8315b;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.9s;
    animation: animatezoom 0.9s;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.imgcontainer {
    text-align: center;
    margin: 12px 12px 12px 12px;
    position: relative;
}

#icon {
  max-height:200px;
}

#id01 {
  color:#d8315b;
}

.loginCContainer {
  text-align:center;
  position: relative;
  display:block;
}

.loginButton {
  min-width:75px;
  border-radius:4px;
}

.modalOption {
  cursor:pointer;
}

.modalOption span:hover {
  color:#2e294e;
}

.loginC {
  padding:10px;
  border-radius: 4px;
  border-color:#2e294e;
}

.loginC:focus {
  outline:none;
}

input.chk-btn {
  display: none;
}

input.chk-btn + label {
  border: 2px solid #2e294e;
  background: #fffaff;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
  user-select:none;
}

input.chk-btn:not(:checked) + label:hover {
  box-shadow: 0px 1px 3px;
}

input.chk-btn + label:active,
input.chk-btn:checked + label {
  box-shadow: 0px 0px 3px inset;
  background: #d8315b;
  color:#fffaff
}

.registerTable {
  margin: 0px auto;
}

.registerTable td {
  padding:0px 35px 20px 35px;
}

#errorMsg3 {
	text-align:center;
	color:#2e294e;
	font-weight:bold;
}