.progress {
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow:none;
}
table .progress {
  margin-bottom: 0;
}
.progress-bar {
  border-radius:4px;
  background-color: #ef476f;
}
td .rating {
  width:15%;
}
.percentage {
  width:85%;
}
.ratingTable {
  float:right;
  display:inline-block;
}
.ratingTable tr {
  border-color: #2e294e;
}
.poster {
  max-height:325px;
  float:left;
  display:inline-block;
}
.col-md-4, .col-md-8 {
  display:inline-block;
  vertical-align:middle;
}
div .rating-symbol {
  font-size:3em;
  padding-top:9px;
  color:#d8315b;
}
.reviewWidth {
  width:70%;
  /*text-align:center;*/
  display:inline-block;
  resize: none;
}
.reportReview {
	resize:none;
	float:right;
	margin-bottom:5px;
}
h5[id^=report] {
	color: #2e249e;
}