<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head lang="en">
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>Ripe Potatoes</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/calendar.css">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico'/>

</head>

<body>

	<div th:replace="fragments/navbar :: navbar"></div>

	<div th:replace="fragments/login+register :: 'login+register'"></div>

	<div class="jumbotron">
		<div class="container">
			<h1 class="headline text-left">
				About Ripe Potatoes
			</h1>
			<h3>
				Ripe Potatoes is one of the most trusted sources for movie data aggregation.<br>
				Founded in 1876 by Harvey J. Potato, Ripe Potatoes began as a simple movie synopsis service that has grown 
				to become a multibillion dollar establishment that additionally encompasses television, ratings, reviews, and the like. 
			</h3>
		</div>
	</div>

	<section class="call-to-action">
		<div class="container">
			<img align="left" class="icon" src="/images/icon.png">
		
			<blockquote class="blockquote-normal">
				<h4>
					There is a seemingly endless amount of media out in the world, as well as content based off of that media, especially with the advent of the Internet. <br><br>
					How can one determine what they want to watch without doing needless, massive magnitudes of research ahead of time?
					Additionally, how can one determine if the ratings and reviews they are gleaning are truly representative of all ends of the spectrum?
					Ripe Potatoes relentlessly searches for the most recent and most trusted sources of content critiques everywhere and
					aggregates them so that you don't have to. <br><br>From the announcement, to the debut, and the departure of a movie or television series,
					Ripe Potatoes will continuously add to its repertoire of information so that you can make the best decision.   
				</h4>
			</blockquote>
	
			<legend><br><br></legend>
	
			<blockquote class="blockquote-normal">
				<h4>
					The best part about Ripe Potatoes, however, is the ability to add your own ratings and reviews for the movies you've watched.
					With this, you can not only make an informed decision based on what you know, but you can also help those after you make informed 
					decisions with your input. This crowdsourcing ensures that the information we provide is truly neutral, because everyone can contribute
					to it. <br><br>Finally, if you do find that someone is intentionally gaming the system, you can report them to us and we will investigate the issue. 
				</h4>
			</blockquote>
			
			<legend><br><br></legend>
			
			<blockquote class="blockquote-reverse">
				<h4>
					Contact Us
				</h4>
				<h4>
					Visit our FAQ or drop us a post on our social media!
					<br>
					<p class="navbar-text pull-right">
      					<a href="https://facebook.com" class="fa fa-facebook btn btn-primary btn-xs btn-footer aboutBtn"></a>
						<a href="https://twitter.com" class="fa fa-twitter btn btn-primary btn-xs btn-footer aboutBtn"></a>
						<a href="https://plus.google.com" class="fa fa-google btn btn-primary btn-xs btn-footer aboutBtn"></a>
      				</p>
				</h4>
			</blockquote>
			
	
		</div>
	</section>
	
	<br><br><br><br>

	<div th:replace="fragments/footer :: footer"></div>

	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
	<script src="/js/home.js"></script>
	<script src="/js/jquery.autocomplete.js"></script>
	<script src="/js/navbar.js"></script>
	<script src="/js/authentication.js"></script>

</body>

</html>
