<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta name="content_id" th:content="${content.getContentID()}"/>
  <title>Ripe Potatoes</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel='shortcut icon' type='image/x-icon' href='../images/favicon.ico'/>

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div>
        <a class="navbar-brand" href="/"><img align="left" class="icon" src="../images/icon.png"><span class="projname">Ripe Potatoes</span></a>
        <form class="navbar-form searchForm" action="/search" id="searchForm">
          <input type="text" class="form-control" name="searchBar" id="autocomplete" required>
          <button type="submit" form="searchForm" class="btn btn-info">
          <span class="glyphicon glyphicon-search"></span>
          </button>
        </form>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Movies<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">New Releases</a></li>
            <li><a href="#">Ripe Releases</a></li>
            <li><a href="#">By Genre</a></li>
            <li><a href="#">By Rating</a></li>
            <li><a href="#">By Cast</a></li>
            <li><a href="#">By Director</a></li>
            <li><a href="#">On this Day...</a></li>
            <li><a href="#">Random</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TV<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">New Releases</a></li>
            <li><a href="#">Ripe Releases</a></li>
            <li><a href="#">By Genre</a></li>
            <li><a href="#">By Rating</a></li>
            <li><a href="#">By Cast</a></li>
            <li><a href="#">By Director</a></li>
            <li><a href="#">On this Day...</a></li>
            <li><a href="#">Random</a></li>
          </ul>
        </li>
        <li th:if="${session.user != null}"><a href="/profile">Profile</a></li>
        <li><a class="ll" onclick="login()" href="#" th:text="${session.user != null} ? 'Logout' : 'Login'"></a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="id01" class="modal">

  <form id="loginFrame" class="modal-content animate" action="profile.html">
    <div class="imgcontainer">
      <span onclick="closeLogin()" class="close" title="Close">&times;</span>
      <img id="icon" src="../images/icon.png" alt="Avatar" class="avatar">
      <div class="text-center" id="errorMsg2"></div>
    </div>

    <div class="loginCContainer">
      <label for="uname"><b>Username</b></label>
      <br>
      <input class="loginC" type="text" placeholder="Enter Username" name="loginName" required>
      <br><br>
      <label for="psw"><b>Password</b></label>
      <br>
      <input class="loginC" type="password" placeholder="Enter Password" name="loginPW" required>
      <br><br>
      <button class="btn-info loginButton" type="submit" name="loginButton"><span class="glyphicon glyphicon-log-in"></span></button>
      <br><br>
      <input type="checkbox" id='c1' class='chk-btn' name="remember"/>
      <label for='c1'>Remember Me</label>
      <br><br>
      <span onclick="openF()" class="modalOption"><span>Forgot password?</span></span>
      <br>
      <span onclick="openR()" class="modalOption "><span>Register</span></span>
    </div>
  </form>

  <form id="forgotFrame" class="modal-content animate" action="profile.html">
    <div class="imgcontainer">
      <span onclick="closeLogin()" class="close" title="Close">&times;</span>
      <img id="icon" src="../images/icon.png" alt="Avatar" class="avatar">
    </div>

    <div class="loginCContainer">
      <div><b>Forgot password?</b></div>
      <input class="loginC" type="text" placeholder="Enter Email" name="forgotPW" required>
      <div class="help-block"></div>
      <button class="btn-info loginButton" type="submit" name="forgotButton"><span class="glyphicon glyphicon-refresh"></span> <span class="glyphicon glyphicon-lock"></span></button>
      <br><br>
      <div><span onclick="openL()" class="modalOption"><span>Login</span></span></div>
      <div><span onclick="openR()" class="modalOption "><span>Register</span></span></div>
    </div>
  </form>
  <form id="registerFrame" class="modal-content animate" action="profile.html">
    <div class="imgcontainer">
      <span onclick="closeLogin()" class="close" title="Close">&times;</span>
      <img id="icon" src="../images/icon.png" alt="Avatar" class="avatar">
      <div class="text-center" id="errorMsg3"></div>
    </div>

    <div class="loginCContainer">
      <table class="registerTable">
        <tr>
          <td>
            <label for="uname"><b>Email</b></label>
            <br>
            <input class="loginC" type="text" placeholder="Enter Email" name="registerEmail" required>
            <!-- <br><br> -->
          </td>
          <td>
            <label for="psw"><b>Password</b></label>
            <br>
            <input class="loginC" type="password" placeholder="Enter Password" name="registerPW" required>
            <!-- <br><br> -->
          </td>
        </tr>
        <tr>
          <td>
            <label for="uname"><b>Username</b></label>
            <br>
            <input class="loginC" type="text" placeholder="Enter Username" name="registerName" required>
            <!-- <br><br> -->
          </td>
          <td>
            <label for="psw"><b>Confirm Password</b></label>
            <br>
            <input class="loginC" type="password" placeholder="Retype Password" name="retypePW" required>
            <!-- <br><br> -->
          </td>
        </tr>
      </table>
      <button class="btn-info loginButton" type="submit" name="registerButton"><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-plus"></span></button>
      <br><br>
      <span onclick="openF()" class="modalOption"><span>Forgot password?</span></span>
      <br>
      <span onclick="openL()"class="modalOption "><span>Login</span></span>
    </div>
  </form>
</div>


<div class="jumbotron">
  <div class="container">
    <h1 class="headline text-left" th:text="${content.getName()}"></h1><br>
    <div class="row">
      <div class="col-md-7">
        <div class="item">
        	<img class="poster" src="../images/celebs/Dwayne_Johnson.jpg">
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <table class="table ratingTable">
          <tr>
            <td><h2 th:text="${content.getRating() != -1} ? ${content.getRating()} : 'No Ratings Yet!' "></h2></td>
            <td>
              <input type="hidden" class="rating" data-fractions="100" disabled="disabled" value="3.4"/>
            </td>
          </tr>
          <tr>
            <td class="rating"><span class="text-nowrap"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span></td>
            <td class="percentage">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width:0%">
                  28%
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="rating"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
            <td class="percentage">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width:0%">
                  10%
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="rating"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
            <td class="percentage">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width:0%">
                  22%
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="rating"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
            <td class="percentage">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width:0%">
                  19%
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="rating"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
            <td class="percentage">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width:0 %">
                  21%
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="glyphicon glyphicon-info-sign glyphicon-large" aria-hidden="true"></span>
        <h3>Bio</h3>
        <p th:text="${content.getBio()}"></p>
      </div>
      <div class="col-md-4">
        <span class="glyphicon glyphicon-bullhorn glyphicon-large" aria-hidden="true"></span>
        <h3>Filmography</h3>
        <th:block th:if="${!content.getFilmography().isEmpty()}" th:each="i : ${#numbers.sequence(0,content.getFilmography().size()-1)}">
        	<h4 th:text="${content.getFilmography().get(i).getName()}"></h4>
        </th:block>
      </div>
      <div class="col-md-4">
        <span class="glyphicon glyphicon-share glyphicon-large" aria-hidden="true"></span>
        <h3>Your Rating</h3>
        <h3 id="ratingError"></h3>
        <th:block th:if="${session.user != null}" th:each="i : ${#numbers.sequence(0,content.getRatings().size()-1)}">
        	<input id="ownRating" th:if="${content.getRatings().size() != 0 and content.getRatings().get(i).getRater().getUserID() == session.user.getUserID()}" th:value="${content.getRatings().get(i).getScore()}" type="hidden" class="rating">
        </th:block>
        <input id="ownRating" th:if="${session.user == null}" type="hidden" class="rating">
        <input id="ownRating" th:if="${session.user != null and not content.checkForRater(session.user)}" type="hidden" class="rating">
        <div><a id="removeRating" role="button">Remove Rating</a></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <legend><h2>Reviews</h2></legend>
      </div>
    </div>
    <div class="row">
      <th:block th:if="${content.getReviews().size() != 0}" th:each="i : ${#numbers.sequence(0, content.getReviews().size()-1)}">
		<div class="col-md-4">
	     	<h4>by <a th:href="'/users/' + ${content.getReviews().get(i).getAuthor().getUserID()}" th:text="${content.getReviews().get(i).getAuthor().getName()}"></a></h4>
	        <span class="reviewText" th:text="${content.getReviews().get(i).getJustificationText()}"></span>
	        <div class="text-right"><a role="button" rel="popover" toggle="popover" trigger="hover" placement="top" html="true" title='Report this review' th:attr="data-content='<form><h5 id=report' + ${content.getReviews().get(i).getReviewID()} +'></h5><textarea class=&quot;form-control reportReview&quot; rows=&quot;3&quot; required></textarea><button class=&quot;btn-info reportReview&quot; type=&quot;button&quot; name=&quot;submitRButton&quot; value=' + ${content.getReviews().get(i).getReviewID()} + '><span class=&quot;glyphicon glyphicon-pencil&quot;></span></button></form>'">Report</a></div>
	        <div th:if="${session.user != null and content.getReviews().size() != 0 and content.getReviews().get(i).getAuthor().getUserID() == session.user.getUserID()}" class="text-right"><a role="button" rel="popover" toggle="popover" trigger="hover" placmeent="top" html="true" title='Delete review' data-content='<h3>Are you sure?</h3><button class="btn-info reportReview" onclick="deleteReview()" type="submit" name="submitRButton"><span class="glyphicon glyphicon-remove"></span></button>'>Delete</a></div>
      	</div>      
      </th:block>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <legend><h2>Your Review</h2></legend>
      </div>
      <div class="col-sm-12">
      	<div id="reviewError"></div>
        <form id="submitReview" class="" action="movie.html">
          <textarea id="reviewSubmit" class="form-control reviewWidth" rows="3" placeholder="Add your review (optional)" required>
          	<th:block th:each="i : ${#numbers.sequence(0, content.getReviews().size()-1)}">
          		<span th:if="${session.user != null and content.getReviews().size() != 0 and content.getReviews().get(i).getAuthor().getUserID() == session.user.getUserID()}" th:remove="tag" th:text="${content.getReviews().get(i).getJustificationText()}"></span>
          	</th:block>
          </textarea>
          <br><br>
          <button class="btn-info loginButton" type="submit" name="submitReButton"><span class="glyphicon glyphicon-pencil"></span></button>
        </form>
      </div>
    </div>
  </div>
</section>

<br><br><br><br>

<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text">
        <a class="btn btn-primary btn-xs btn-footer" href="#" role="button">About</a>
        <a class="btn btn-primary btn-xs btn-footer" href="#" role="button">Contact</a>
        <a class="btn btn-primary btn-xs btn-footer" href="#" role="button">Terms of Service</a>
        <a class="btn btn-primary btn-xs btn-footer" href="#" role="button">Privacy Policy</a>
        <a class="btn btn-primary btn-xs btn-footer" href="#" role="button">Licensing</a>
      </p>

    </div>
</div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
  <script src='../js/media.js'></script>
  <script src='../js/jquery.autocomplete.js'></script>
  <script src='../js/navbar.js'></script>
  <script src='../js/bootstrap-rating.js'></script>
  <script src='../js/authentication.js'></script>
  <script src='../js/submission.js'></script>

</body>

</html>
