<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta name="content_id" th:content="${content.getContentID()}"/>
  <title>Ripe Potatoes</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico'/>

</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div th:replace="fragments/login+register :: 'login+register'"></div>


<div class="jumbotron">
  <div class="container">
    <h1 class="headline text-left" th:text="${content.getName()}"></h1><br>
    <div class="row">
      <div class="col-md-7">
        <div class="item">
        	<img class="poster" th:src="'/images/Celebrity%20Photos/' + ${content.getPicture()}"/>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <table class="table ratingTable">
          <tr>
            <td><h2 th:text="${content.getRating() != -1} ? ${content.getRating()} : 'No Ratings Yet!' "></h2></td>
            <td>
              <input type="hidden" class="rating" data-fractions="100" disabled="disabled" th:value="${content.getRating()}"/>
            </td>
          </tr>
          <div th:replace="fragments/ratingchart :: ratingchart"></div>
        </table>
      </div>
    </div>
  </div>
</div>

<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="glyphicon glyphicon-info-sign glyphicon-large" aria-hidden="true"></span>
        <h3>Bio</h3>
        <p th:text="${content.getBio()}"></p>
      </div>
      <div class="col-md-4">
        <span class="glyphicon glyphicon-bullhorn glyphicon-large" aria-hidden="true"></span>
        <h3>Filmography</h3>
        <div th:if="${!filmographylist.isEmpty()}">
	        <th:block th:if="${!filmographylist.isEmpty()}" th:each="i : ${#numbers.sequence(0,filmographylist.size()-1)}">
    			<h4><a th:href="'/content/' + ${filmographylist.get(i).getMedia().getContentID()}" th:text="${filmographylist.get(i).getMedia().getName()}"></a></h4>
    		</th:block>
        </div>
      </div>
      <div th:replace="fragments/rating :: rating"></div>
    </div>
    <div th:replace="fragments/reviews :: reviews"></div>
	<div th:replace="fragments/your_review :: your_review"></div>
  </div>
</section>

<br><br><br><br>

<div th:replace="fragments/footer :: footer"></div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
  <script src="/js/media.js"></script>
  <script src="/js/jquery.autocomplete.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/authentication.js"></script>
  <script src="/js/bootstrap-rating.js"></script>
  <script src="/js/submission.js"></script>

</body>

</html>
