<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta name="content_id" th:content="${content.getContentID()}"/>
  <title>Ripe Potatoes</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel='shortcut icon' type='image/x-icon' href='../images/favicon.ico'/>

</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div th:replace="fragments/login+register :: 'login+register'"></div>

<div class="jumbotron">
  <div class="container">
    <h1 class="headline text-left" th:text="${content.getName()}"></h1><br>
    <div class="row">
      <div class="col-md-7">
      <!-- 
      	<div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LKFuXETZUsI"></iframe>
        </div> 
       -->
      <div th:replace="fragments/trailer :: trailer"></div>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <table class="table ratingTable">
          <tr>
            <td><h2 th:text="${content.getRating() != -1} ? ${content.getRating()} : 'No Ratings Yet!' "></h2></td>
            <td>
              <input type="hidden" class="rating" data-fractions="100" disabled="disabled" th:value="${content.getRating()}"/>
            </td>
          </tr>
          <tr>
            <td class="rating"><span class="text-nowrap"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span></td>
            <td class="percentage">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width:0%">
                  28%
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="rating"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
            <td class="percentage">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width:0%">
                  10%
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="rating"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
            <td class="percentage">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width:0%">
                  22%
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="rating"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
            <td class="percentage">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width:0%">
                  19%
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="rating"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
            <td class="percentage">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width:0 %">
                  21%
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="glyphicon glyphicon-info-sign glyphicon-large" aria-hidden="true"></span>
        <h3>Movie Info</h3>
        <p th:text="${content.getSynopsis()}"></p>
      </div>
      <div class="col-md-4">
        <span class="glyphicon glyphicon-bullhorn glyphicon-large" aria-hidden="true"></span>
        <h3>Cast</h3>
        <th:block th:each="i : ${#numbers.sequence(0,content.getCast().size()-1)}" th:if="${content.getCast().size() != 0}">
        	<h4 th:text="${content.getCast().get(i)}"></h4>
        </th:block>
      </div>
	  <div th:replace="fragments/rating :: rating"></div>
    </div>
    <div th:replace="fragments/reviews :: reviews"></div>
	<div th:replace="fragments/your_review :: your_review"></div>
  </div>
</section>

<br><br><br><br>


<div th:replace="fragments/footer :: footer"></div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
  <script src='../js/media.js'></script>
  <script src='../js/jquery.autocomplete.js'></script>
  <script src='../js/navbar.js'></script>
  <script src='../js/bootstrap-rating.js'></script>
  <script src='../js/authentication.js'></script>
  <script src='../js/submission.js'></script>

</body>

</html>
