<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>Ripe Potatoes</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css" >
    <link rel="stylesheet" type="text/css" href="../css/style.css" >
    <link rel="stylesheet" type="text/css" href="../css/profile.css" >
    <link rel='shortcut icon' type='image/x-icon' href='../images/favicon.ico'/>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div th:replace="fragments/login+register :: 'login+register'"></div>


<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img class="profileIcon" src="../images/default-icon.png">
      </div>
      <div class="col-md-10">
        <h1 class="headline text-left" th:text="${user.getName()}">Username</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <blockquote class="blockquote-reverse">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt magna eros, ut vulputate lacus tempor sed. Suspendisse faucibus lorem sed dui pulvinar maximus. Cras semper finibus gravida. Donec justo nulla, semper id massa ac, euismod mattis neque. Duis gravida ex dui, id iaculis metus lobortis non. Donec cursus ligula feugiat orci faucibus tincidunt. Nulla varius diam ut ex sollicitudin, sed posuere diam condimentum. Aenean in eleifend nisl. Vestibulum fringilla velit eros, in faucibus erat placerat ut. Nam consequat lorem vitae tincidunt aliquet.</blockquote>
        <span th:if="${session.user != null} and (${session.user.getUserID()} == ${user.getUserID()})" onclick="openM()" class="manageAccount">Manage Account</span>
      </div>
    </div>
  </div>
</div>

<section class="call-to-action">
  <div class="container buttonContainer">
    <div class="row">
		<div class="btn-group btn-group-justified" role="group" aria-label="...">    
	      <div class="btn-group" role="group" aria-label="...">
	      	<button type="button" class="btn btn-default indexButton" onclick="showRR()">
		        <span class="glyphicon glyphicon-pencil glyphicon-large" aria-hidden="true"></span>
		        <h3>Reviews &amp; Ratings</h3>
	        </button>
	      </div>
	      <div class="btn-group" role="group" aria-label="...">
	      	<button type="button" class="btn btn-default indexButton" onclick="showWishlist()">
		        <span class="glyphicon glyphicon-bookmark glyphicon-large" aria-hidden="true"></span>
		        <h3>Wishlist</h3>
	        </button>
	      </div>
	      <div class="btn-group" role="group" aria-label="...">
	      	<button type="button" class="btn btn-default indexButton" onclick="showFollowed()">
		        <span class="glyphicon glyphicon-hand-right glyphicon-large" aria-hidden="true"></span>
		        <h3>Following Users</h3>
	        </button>
	      </div>
		  <div class="btn-group" role="group" aria-label="...">
	      	<button type="button" class="btn btn-default indexButton" onclick="showFollowing()">
		        <span class="glyphicon glyphicon-hand-left glyphicon-large" aria-hidden="true"></span>
		        <h3>Followed Users</h3>
	        </button>
	      </div>
      	</div>
    </div>
  </div>
  <div th:replace="fragments/rr :: 'rr'"></div>
  <div th:replace="fragments/wishlist :: 'wishlist'"></div>
  <div th:replace="fragments/following :: 'following'"></div>
  <div th:replace="fragments/followed :: 'followed'"></div>
</section>

<br><br><br><br>

<div th:replace="fragments/footer :: footer"></div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script src='../js/home.js'></script>
<script src='../js/jquery.autocomplete.js'></script>
<script src='../js/bootstrap-rating.js'></script>
<script src='../js/profile.js'></script>
<script src='../js/navbar.js'></script>
<script src='../js/authentication.js'></script>

</body>

</html>
