<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>Ripe Potatoes</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
    <link rel="stylesheet" type="text/css" href="../css/login.css" >
    <link rel="stylesheet" type="text/css" href="../css/style.css" >
    <link rel="stylesheet" type="text/css" href="../css/profile.css" >
    <link rel='shortcut icon' type='image/x-icon' href='../images/favicon.ico'/>
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div>
        <a class="navbar-brand" href="/"><img align="left" class="icon" src="../images/icon.png"><span class="projname">Ripe Potatoes</span></a>
        <form class="navbar-form searchForm" action="search" id="searchForm">
          <input type="text" class="form-control" name="searchBar" id="autocomplete" required>
          <button type="submit" form="searchForm" class="btn btn-info">
          <span class="glyphicon glyphicon-search"></span>
          </button>
        </form>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Movies<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">New Releases</a></li>
            <li><a href="#">Ripe Releases</a></li>
            <li><a href="#">By Genre</a></li>
            <li><a href="#">By Rating</a></li>
            <li><a href="#">By Cast</a></li>
            <li><a href="#">By Director</a></li>
            <li><a href="#">On this Day...</a></li>
            <li><a href="#">Random</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TV<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">New Releases</a></li>
            <li><a href="#">Ripe Releases</a></li>
            <li><a href="#">By Genre</a></li>
            <li><a href="#">By Rating</a></li>
            <li><a href="#">By Cast</a></li>
            <li><a href="#">By Director</a></li>
            <li><a href="#">On this Day...</a></li>
            <li><a href="#">Random</a></li>
          </ul>
        </li>
        <li th:if="${session.user != null}"><a href="/profile">Profile</a></li>
        <li><a class="ll" onclick="login()" href="#" th:text="${session.user != null} ? 'Logout' : 'Login'"></a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="id01" class="modal">

  <form id="loginFrame" class="modal-content animate" action="profile.html">
    <div class="imgcontainer">
      <span onclick="closeLogin()" class="close" title="Close">&times;</span>
      <img id="icon" src="../images/icon.png" alt="Avatar" class="avatar">
    </div>

    <div class="loginCContainer">
      <label for="uname"><b>Username</b></label>
      <br>
      <input class="loginC" type="text" placeholder="Enter Username" name="loginName" required>
      <br><br>
      <label for="psw"><b>Password</b></label>
      <br>
      <input class="loginC" type="password" placeholder="Enter Password" name="loginPW" required>
      <br><br>
      <button class="btn-info loginButton" type="submit" name="loginButton"><span class="glyphicon glyphicon-log-in"></span></button>
      <br><br>
      <input type="checkbox" id='c1' class='chk-btn' name="remember"/>
      <label for='c1'>Remember Me</label>
      <br><br>
      <span onclick="openF()" class="modalOption"><span>Forgot password?</span></span>
      <br>
      <span onclick="openR()" class="modalOption "><span>Register</span></span>
    </div>
  </form>

  <form id="forgotFrame" class="modal-content animate" action="profile.html">
    <div class="imgcontainer">
      <span onclick="closeLogin()" class="close" title="Close">&times;</span>
      <img id="icon" src="../images/icon.png" alt="Avatar" class="avatar">
    </div>

    <div class="loginCContainer">
      <div><b>Forgot password?</b></div>
      <input class="loginC" type="text" placeholder="Enter Email" name="forgotPW" required>
      <div class="help-block"></div>
      <button class="btn-info loginButton" type="submit" name="forgotButton"><span class="glyphicon glyphicon-refresh"></span> <span class="glyphicon glyphicon-lock"></span></button>
      <br><br>
      <div><span onclick="openL()" class="modalOption"><span>Login</span></span></div>
      <div><span onclick="openR()" class="modalOption "><span>Register</span></span></div>
    </div>
  </form>
  <form id="registerFrame" class="modal-content animate" action="profile.html">
    <div class="imgcontainer">
      <span onclick="closeLogin()" class="close" title="Close">&times;</span>
      <img id="icon" src="../images/icon.png" alt="Avatar" class="avatar">
      <div class="text-center" id="errorMsg3"></div>
    </div>

    <div class="loginCContainer">
      <table class="registerTable">
        <tr>
          <td>
            <label for="uname"><b>Email</b></label>
            <br>
            <input class="loginC" type="text" placeholder="Enter Email" name="registerEmail" required>
            <!-- <br><br> -->
          </td>
          <td>
            <label for="psw"><b>Password</b></label>
            <br>
            <input class="loginC" type="password" placeholder="Enter Password" name="registerPW" required>
            <!-- <br><br> -->
          </td>
        </tr>
        <tr>
          <td>
            <label for="uname"><b>Username</b></label>
            <br>
            <input class="loginC" type="text" placeholder="Enter Username" name="registerName" required>
            <!-- <br><br> -->
          </td>
          <td>
            <label for="psw"><b>Confirm Password</b></label>
            <br>
            <input class="loginC" type="password" placeholder="Retype Password" name="retypePW" required>
            <!-- <br><br> -->
          </td>
        </tr>
      </table>
      <button class="btn-info loginButton" type="submit" name="registerButton"><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-plus"></span></button>
      <br><br>
      <span onclick="openF()" class="modalOption"><span>Forgot password?</span></span>
      <br>
      <span onclick="openL()"class="modalOption "><span>Login</span></span>
    </div>
  </form>
  <form id="manageAccount" class="modal-content animate form-horizontal" action="#">
    <div class="imgcontainer">
      <span onclick="closeLogin()" class="close" title="Close">&times;</span>
      <legend>Manage Account</legend>
    </div>
    <div class="loginCContainer">

      <div class="form-group">
        <label class="col-md-4 control-label" for="email"><b>Change Email</b></label>
        <input class="loginC" type="text" placeholder="Enter new email" name="changeEmail">
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="psw"><b>Change Password</b></label>
        <input class="loginC" type="text" placeholder="Enter new password" name="changePW1">
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="psw"><b>Retype New Password</b></label>
        <input class="loginC" type="text" placeholder="Retype new password" name="changePW2">
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="profileIcon"><b>Change Profile Icon</b></label>
        <label class="btn btn-default loginC">
          <input type="file" hidden name="changeIcon">
        </label>
      </div>
      
      <br>
      <button class="btn-info loginButton" type="submit" name="manageButton"><span class="glyphicon glyphicon-edit"></button>
      <br><br>

    </div>
  </form>
</div>


<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img class="profileIcon" src="../images/default-icon.png">
      </div>
      <div class="col-md-10">
        <h1 class="headline text-left" th:text="${user.getName()}">Username</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <blockquote class="blockquote-reverse">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt magna eros, ut vulputate lacus tempor sed. Suspendisse faucibus lorem sed dui pulvinar maximus. Cras semper finibus gravida. Donec justo nulla, semper id massa ac, euismod mattis neque. Duis gravida ex dui, id iaculis metus lobortis non. Donec cursus ligula feugiat orci faucibus tincidunt. Nulla varius diam ut ex sollicitudin, sed posuere diam condimentum. Aenean in eleifend nisl. Vestibulum fringilla velit eros, in faucibus erat placerat ut. Nam consequat lorem vitae tincidunt aliquet.</blockquote>
        <span onclick="openM()" class="manageAccount">Manage Account</span>
      </div>
    </div>
  </div>
</div>

<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="glyphicon glyphicon-pencil glyphicon-large" aria-hidden="true"></span>
        <h3 title="Reviews &amp; Ratings">R&amp;R</h3>
      </div>
      <div class="col-md-8">
        <div class="pre-scrollable">
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/1.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" role="button" rel="popover" toggle="popover" trigger="hover" placement="top" html="true" title='<h3>3.4/5</h3>' data-content='<span class="reviewText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra sit amet odio in consectetur. Nam ultricies est in elit tincidunt, eu scelerisque arcu rhoncus. Fusce molestie, nisl vel sagittis sodales, nisl enim posuere dui, sit amet luctus ipsum leo ac nisi. Etiam ut porta lectus. Vivamus eleifend urna vel iaculis finibus. Nam nec semper tellus...</span><br><a class="readMore" href="movie.html">Read more</a><br>'><img class="favImg" src="../images/2.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" role="button" rel="popover" toggle="popover" trigger="hover" placement="top" html="true" title="<i>'hello'</i>"><img class="favImg" src="../images/3.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/4.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/5.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/6.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/7.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/8.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/9.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/10.png"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/11.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/12.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/13.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/14.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/15.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/16.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/17.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/18.jpg"></a>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-4">
        <span class="glyphicon glyphicon-bookmark glyphicon-large" aria-hidden="true"></span>
        <h3>Favorites</h3>
      </div>
      <div class="col-md-8">
        <div class="pre-scrollable">
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/1.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="movie.html" role="button"><img class="favImg" src="../images/2.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/3.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/4.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/5.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/6.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/7.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/8.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/9.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/10.png"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/11.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/12.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/13.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/14.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/15.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/16.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/17.jpg"></a>
          <a class="btn btn-primary btn-xs btn-footer" href="#" role="button"><img class="favImg" src="../images/18.jpg"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<br><br><br><br>

<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text">
        <a class="btn btn-primary btn-xs btn-footer" href="#" role="button">About</a>
        <a class="btn btn-primary btn-xs btn-footer" href="#" role="button">Contact</a>
        <a class="btn btn-primary btn-xs btn-footer" href="#" role="button">Terms of Service</a>
        <a class="btn btn-primary btn-xs btn-footer" href="#" role="button">Privacy Policy</a>
        <a class="btn btn-primary btn-xs btn-footer" href="#" role="button">Licensing</a>
      </p>

    </div>
</div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script src='../js/home.js'></script>
<script src='../js/jquery.autocomplete.js'></script>
<script src='../js/bootstrap-rating.js'></script>
<script src='../js/profile.js'></script>
<script src='../js/navbar.js'></script>
<script src='../js/authentication.js'></script>

</body>

</html>
