<div class="container followingContainer" style="display:none;" th:fragment="following">
<div class="row">
	<div class="jumbotron"><h4>Following</h4></div>
  <div class="pre-scrollable">
    <th:block th:if="${!followlist.isEmpty()}" th:each="i : ${#numbers.sequence(0,followlist.size()-1)}">
 		<div class="col-md-8 center-block">
 			<h4><a th:href="'/users/' + ${followlist.get(i).getFollowed().getUserID()}" th:text="${followlist.get(i).getFollowed().getName()}"></a></h4>
 		</div>
    </th:block>
  </div>
</div>
</div>