<div class="navbar navbar-default navbar-fixed-bottom" th:fragment="footer">
    <div class="container">
      <p class="navbar-text pull-left">
        <a class="btn btn-primary btn-xs btn-footer" href="/about" role="button">About</a>
        <a class="btn btn-primary btn-xs btn-footer" href="/faq" role="button">FAQ</a>
        <a class="btn btn-primary btn-xs btn-footer" href="/tos" role="button">Terms of Service</a>
        <a class="btn btn-primary btn-xs btn-footer" href="/privacy" role="button">Privacy Policy</a>
      </p>
      <p class="navbar-text pull-right">
      	<a href="https://www.facebook.com/Ripe-Potatoes-245282026217907" class="fa fa-facebook btn btn-primary btn-xs btn-footer"></a>
		<a href="https://twitter.com/HarveyPotatoes" class="fa fa-twitter btn btn-primary btn-xs btn-footer"></a>
		<a href="https://plus.google.com" class="fa fa-google btn btn-primary btn-xs btn-footer"></a>
      </p>

    </div>
</div>