<div class="navbar navbar-default navbar-fixed-bottom" th:fragment="footer">
    <div class="container">
      <p class="navbar-text">
        <a class="btn btn-primary btn-xs btn-footer" href="#" role="button">About</a>
        <a class="btn btn-primary btn-xs btn-footer" href="#" role="button">Contact</a>
        <a class="btn btn-primary btn-xs btn-footer" href="#" role="button">Terms of Service</a>
        <a class="btn btn-primary btn-xs btn-footer" href="#" role="button">Privacy Policy</a>
        <a class="btn btn-primary btn-xs btn-footer" href="#" role="button">Licensing</a>
      </p>

    </div>
</div>