<div id="id01" class="modal" th:fragment="login+register">

  <form id="loginFrame" class="modal-content animate" action="profile.html">
    <div class="imgcontainer">
      <span onclick="closeLogin()" class="close" title="Close">&times;</span>
      <img id="icon" src="/images/icon.png" alt="Avatar" class="avatar">
      <div class="text-center" id="errorMsg2"></div>
    </div>

    <div class="loginCContainer">
      <label for="uname"><b>Username</b></label>
      <br>
      <input class="loginC" type="text" placeholder="Enter Username" name="loginName" required>
      <br><br>
      <label for="psw"><b>Password</b></label>
      <br>
      <input class="loginC" type="password" placeholder="Enter Password" name="loginPW" required>
      <br><br>
      <button class="btn-info loginButton" type="submit" name="loginButton"><span class="glyphicon glyphicon-log-in"></span></button>
      <br><br>
      <input type="checkbox" id='c1' class='chk-btn' name="remember"/>
      <label for='c1'>Remember Me</label>
      <br><br>
      <span onclick="openF()" class="modalOption"><span>Forgot password?</span></span>
      <br>
      <span onclick="openR()" class="modalOption "><span>Register</span></span>
    </div>
  </form>

  <form id="forgotFrame" class="modal-content animate" action="profile.html">
    <div class="imgcontainer">
      <span onclick="closeLogin()" class="close" title="Close">&times;</span>
      <img id="icon" src="images/icon.png" alt="Avatar" class="avatar">
    </div>

    <div class="loginCContainer">
      <div><b>Forgot password?</b></div>
      <input class="loginC" type="text" placeholder="Enter Email" id="forgotPasswordInput" name="forgotPW" required>
      <div class="help-block"></div>
      <button class="btn-info loginButton" type="button" name="forgotButton" onclick="requestNewPass()"><span class="glyphicon glyphicon-refresh"></span> <span class="glyphicon glyphicon-lock"></span></button>
      <br><br>
      <div><span onclick="openL()" class="modalOption"><span>Login</span></span></div>
      <div><span onclick="openR()" class="modalOption "><span>Register</span></span></div>
    </div>
  </form>
  <form id="registerFrame" class="modal-content animate">
    <div class="imgcontainer">
      <span onclick="closeLogin()" class="close" title="Close">&times;</span>
      <img id="icon" src="images/icon.png" alt="Avatar" class="avatar">
      <div class="text-center" id="errorMsg3"></div>
    </div>

    <div class="loginCContainer">
      <table class="registerTable">
        <tr>
          <td>
            <label for="uname"><b>Email</b></label>
            <br>
            <input class="loginC" type="text" placeholder="Enter Email" name="registerEmail" required>
            <!-- <br><br> -->
          </td>
          <td>
            <label for="psw"><b>Password</b></label>
            <br>
            <input class="loginC" type="password" placeholder="Enter Password" name="registerPW" required>
            <!-- <br><br> -->
          </td>
        </tr>
        <tr>
          <td>
            <label for="uname"><b>Username</b></label>
            <br>
            <input class="loginC" type="text" placeholder="Enter Username" name="registerName" required>
            <!-- <br><br> -->
          </td>
          <td>
            <label for="psw"><b>Confirm Password</b></label>
            <br>
            <input class="loginC" type="password" placeholder="Retype Password" name="retypePW" required>
            <!-- <br><br> -->
          </td>
        </tr>
      </table>
      <button class="btn-info loginButton" type="submit" name="registerButton"><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-plus"></span></button>
      <br><br>
      <div><span onclick="openF()" class="modalOption"><span>Forgot password?</span></span></div>
      <br>
      <div><span onclick="openL()" class="modalOption"><span>Login</span></span></div>
    </div>
  </form>
  
  <form th:if="${session.user != null}" id="manageAccount" class="modal-content animate form-horizontal" action="#">
    <div class="imgcontainer">`
      <span onclick="closeLogin()" class="close" title="Close">&times;</span>
      <legend>Manage Account</legend>
    </div>
    <div class="loginCContainer">

      <div class="form-group">
        <label class="col-md-4 control-label" for="email"><b>Change Email</b></label>
        <input class="loginC" id="manageEmail" type="text" th:placeholder="${session.user.getEmail()}" name="changeEmail">
      </div>
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="cpsw"><b>Current Password</b></label>
        <input class="loginC" id="manageCPW" type="text" placeholder="Enter current password" name="insertCPW">
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="psw"><b>Change Password</b></label>
        <input class="loginC" id="managePW1" type="text" placeholder="Enter new password" name="changePW1">
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="psw"><b>Retype New Password</b></label>
        <input class="loginC" id="managePW2" type="text" placeholder="Retype new password" name="changePW2">
      </div>
      <br>
      <div class="form-group">
        <label class="col-md-4 control-label" for="deleteAcc"><b>Delete Account</b></label>
        <button class="btn-info loginButton deleteAccount" type="button"><span class="glyphicon glyphicon-remove"></span></button>
        <span id="deleteWarning">Are you sure?</span>
      </div>
      <button class="btn-info loginButton" type="button" name="manageButton" onclick="manageAccount()"><span class="glyphicon glyphicon-edit"></span></button>
      <br><br>

    </div>
  </form>
</div>