<div th:fragment="managepages" class="container managePagesContainer">
	<div class="row">
  		<div class="col-md-3">
			<div class="form-group">
				<select class="form-control managepages" size="20">
					<option id="adminCreatePage">Create</option>
					<option id="adminEditPage">Edit</option>
					<option id="adminDeletePage">Delete</option>
				</select> 
			</div>
		</div>
  		<div class="col-md-6">
			<div class="adminCreatePage">
				<div id="adminCreateMessage"></div>
				<form id="adminCreatePane">
					<input class="adminCreateForm" placeholder="Enter name of page" required>
					<input class="adminCreateForm2" placeholder="Enter ID of page" required>
					<br><br>
					<div class="radio">
      					<label><input type="radio" name="createType" value="film">Film</label>
    				</div>
    				<div class="radio">
      					<label><input type="radio" name="createType" value="tv">TV Series</label>
    				</div>
    				<br><br>
					<button class="btn-info loginButton" type="button" name="createPageButton"><span class="glyphicon glyphicon-plus"></span></button>
				</form>
			</div>
			<div class="adminEditPage">
				<div id="adminEditMessage"></div>
				<form id="adminEditIdInput">
					<input class="adminEditGetId" placeholder="Enter ID of page to edit" required>
					<br><br>
					<button class="btn-info loginButton" type="button" name="getPageInfoButton"><span class="glyphicon glyphicon-share-alt"></span></button>
				</form>
				<br><br>
				<legend></legend>
				<br>
				<form id="editingMedia" class="form-horizontal">
					<div id="adminEditMediaPane">
						<div class="form-group">
							<label for="mediaName" class="col-sm-2 control-label">Name</label>
							<textarea maxlength="255" rows="1" cols="50" id="mediaName"></textarea>						
						</div>
						<div class="form-group">
							<label for="mediaSynopsis" class="col-sm-2 control-label">Synopsis</label>
							<textarea maxlength="255" rows="3" cols="50" id="mediaSynopsis"></textarea>
						</div>
						<div class="form-group">
							<label for="mediaReleaseDate" class="col-sm-2 control-label">Release Date</label>
							<textarea maxlength="255" rows="1" cols="50" id="mediaReleaseDate"></textarea>						
						</div>
						<div class="form-group">
							<label for="mediaCast" class="col-sm-2 control-label">
								Cast
								<br>
								<button class="btn-info loginButton" type="button" name="addCastButton"><span class="glyphicon glyphicon-plus"></span></button>
							</label>
							<ul class="list-group" id="mediaCast"></ul>
						</div>
					</div>
					<br><br>
					<legend></legend>
					<br>
					<div id="adminEditFilmPane">
						<div class="form-group">
							<label for="filmRevenue" class="col-sm-2 control-label">Revenue</label>
							<textarea maxlength="255" rows="1" cols="50" id="filmRevenue"></textarea>
						</div>
						<div class="form-group">
							<label for="filmBudget" class="col-sm-2 control-label">Budget</label>
							<textarea maxlength="255" rows="1" cols="50" id="filmBudget"></textarea>
						</div>
					</div>
					<br><br>
					<legend></legend>
					<br>
					<div id="adminEditTVPane">
						<div class="form-group">
							<label for="tvNetwork" class="col-sm-2 contrl-label">Network</label>					
							<textarea maxlength="255" rows="1" cols="50" id="tvNetwork"></textarea>
						</div>
						<div class="form-group">
							<label for="tvSeasons" class="col-sm-2 control-label">
								Seasons
								<br>
								<button class="btn-info loginButton" type="button" name="addSeasonButton"><span class="glyphicon glyphicon-plus"></span></button>
							</label>
							<ul class="list-group" id="tvSeasons"></ul>
						</div>
					</div>
					<br><br>
					<legend></legend>
					<br>
					<button class="btn-info loginButton" type="button" name="changePageButton"><span class="glyphicon glyphicon-pencil"></span></button>
				</form>
			</div>
			<div class="adminDeletePage">
				<div id="adminDeleteMessage"></div>
				<form id="adminDeletePagePane">
					<input class="adminDeletePageForm" placeholder="Enter ID of page to delete" required>
					<br><br>
					<button class="btn-info loginButton" type="button" name="deletePageButton"><span class="glyphicon glyphicon-remove"></span></button>
				</form>
			</div>
		</div>
	</div>
</div>
