<div th:fragment="manageusers" class="container manageUsersContainer">
	<div class="row">
  		<div class="col-md-3">
			<div class="form-group">
			<select class="form-control manageusers" size="20">
				<option id="adminDeleteUser">Delete</option>
			</select> 
			</div>
		</div>
  		<div class="col-md-6">
			<div class="adminDeleteUser">
				<div id="adminDeleteUserMessage"></div>
				<form id="adminDeleteUserPane">
					<input class="adminDeleteUserForm" placeholder="Enter ID to delete" required>
					<br><br>
					<button class="btn-info loginButton" type="button" name="deleteUserButton"><span class="glyphicon glyphicon-remove"></span></button>
				</form>
			</div>
		</div>
	</div>	
</div>
