<div class="container" th:fragment="messages">
    <div th:if="${session.user != null}" class="row"> 
      <div class="row">
  		<div class="col-md-3">
			<div class="form-group"><select class="form-control messageselect" size="20" data-style="btn-info">
				<th:block th:if="${!messageList.isEmpty()}" th:each="i : ${#numbers.sequence(0,messageList.size()-1)}">
			 		<option th:if="${session.user.getUserID()} != ${messageList.get(i).get(0).getSender().getUserID()}" th:id="${messageList.get(i).get(0).getSender().getUserID()}" th:text="${messageList.get(i).get(0).getSender().getName()}"/>
			 		<option th:if="${session.user.getUserID()} != ${messageList.get(i).get(0).getReceiver().getUserID()}" th:id="${messageList.get(i).get(0).getReceiver().getUserID()}" th:text="${messageList.get(i).get(0).getReceiver().getName()}"/>
			    </th:block> 
			</select></div>
		</div>
  		<div class="col"> 
			<th:block th:if="${!messageList.isEmpty()}" th:each="j : ${#numbers.sequence(0,messageList.size()-1)}">
				<div th:if="${session.user.getUserID()} != ${messageList.get(j).get(0).getSender().getUserID()}" hidden class="pre-scrollable messagelist" th:id="${messageList.get(j).get(0).getSender().getUserID()}">
					<p style="color:blue;font-style: italic;" class="chatshow pull-left"></p><p style="color:blue;font-style: italic;" class="pull-right">me</p>
					<div class="clear"></div>
					<div class="clear"></div>					
					<th:block th:each="k : ${#numbers.sequence(0,messageList.get(j).size()-1)}">
						<span th:if="${session.user.getUserID()} == ${messageList.get(j).get(k).getReceiver().getUserID()}" class="chat left" th:text="${messageList.get(j).get(k).getBody()}"></span>
						<span th:if="${session.user.getUserID()} == ${messageList.get(j).get(k).getSender().getUserID()}" class="chat right" th:text="${messageList.get(j).get(k).getBody()}"></span>
						<div class="clear"></div>
					</th:block>
				</div>
				<div th:if="${session.user.getUserID()} != ${messageList.get(j).get(0).getReceiver().getUserID()}" hidden class="pre-scrollable messagelist" th:id="${messageList.get(j).get(0).getReceiver().getUserID()}">
					<p style="color:blue;font-style: italic;" class="chatshow pull-left"></p><p style="color:blue;font-style: italic;" class="pull-right">me</p>
					<div class="clear"></div>
					<div class="clear"></div>
					<th:block th:each="k : ${#numbers.sequence(0,messageList.get(j).size()-1)}">
						<span th:if="${session.user.getUserID()} == ${messageList.get(j).get(k).getReceiver().getUserID()}" class="chat left" th:text="${messageList.get(j).get(k).getBody()}"></span>
						<span th:if="${session.user.getUserID()} == ${messageList.get(j).get(k).getSender().getUserID()}" class="chat right" th:text="${messageList.get(j).get(k).getBody()}"></span>
						<div class="clear"></div>
					</th:block>		
		    	</div>
		    </th:block>
		    <div class="row">
		    	<input hidden class="chatinput" maxlength="255">
		    </div>	
		</div>
	</div>
    </div>
</div>
