<div class="container niContainer" style="display:none;" th:fragment="ni">
<div class="row">
	<div class="jumbotron"><h4>Not Interested</h4></div>	
  <div class="pre-scrollable">
   	  <th:block th:if="${!nilist.isEmpty()}" th:each="i : ${#numbers.sequence(0,nilist.size()-1)}">
 		<div class="col-md-8 center-block">
 			<h4><a th:href="'/content/' + ${nilist.get(i).getContent().getContentID()}" th:text="${nilist.get(i).getContent().getName()}"></a></h4>
 		</div>
    </th:block>
  </div>
</div>
</div>