<div th:fragment="trailer">
	<div align="center" class="embed-responsive embed-responsive-16by9">
		<button class="btn btn-sm btn-warning" id="loadingTrailer">
			<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> 
			Loading...
		</button>
		<video hidden controls class="embed-responsive-item vidPoster" id="trailerElement"></video>
		<p hidden id="trailerNotFoundElement"> No Media Content exists </p>
	</div>
	<div hidden id="trailerButtons">
		<span id="trailerNum" style="color:red;"></span>
		<button class="btn prevTrailer">Previous Trailer</button>
		<button class="btn nextTrailer">Next Trailer</button>
	</div>
</div>