    <div class="row" th:fragment="your_review">
      <div class="col-sm-12">
        <legend><h2>Your Review</h2></legend>
      </div>
      <div class="col-sm-12">
      	<div id="reviewError"></div>
        <form id="submitReview" class="" action="movie.html">
          <textarea maxlength="255" id="reviewSubmit" class="form-control reviewWidth" rows="3" placeholder="Add your review (optional)" required>
          	
          		<span th:if="${session.user != null and ownreview != null}" th:remove="tag" th:text="${ownreview.getJustificationText()}"></span>
          	
          </textarea>
          <br><br>
          <button class="btn-info loginButton" type="submit" name="submitReButton"><span class="glyphicon glyphicon-pencil"></span></button>
        </form>
      </div>
    </div>